.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form{
  border-radius: 2px;
  margin: 50px 20px;
  box-shadow: #282c34 1px 2px;
}
.divider{
  background-color: #282c34;
  height: 5px;
}
.butt{
  background-color: #61dafb;
  line-height: 30px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.title{
  color: crimson;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 55px;
}
p{
  color: red;
  font-size: 24px;
}